@import "./src/styles/variables/colors";

$columns: 7;
$rows: 5;
$column-min-size: 75px;
$calendar-min-size: $columns * $column-min-size;
$header-height: 50px;
$calendar-max-height: calc(100% - #{$header-height});
$square-aspect-ratio: 1 / 1;

.calendar-container {
  display: block;
  min-width: $calendar-min-size;
  height: 100%;

  .header-container {
    background-color: $grey;
    border: 1px solid black;
    height: $header-height;
    font-size: 35px;
    text-align: center;
  }

  .body-container {
    display: grid;
    max-height: $calendar-max-height;
    grid-template-columns: repeat($columns, minmax($column-min-size, 1fr));
    grid-template-rows: repeat($rows, minmax($column-min-size, 1fr));
  }

  .body-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: $square-aspect-ratio;
    grid-column: $square-aspect-ratio;
  }

  .day:first-child {
    grid-row: $square-aspect-ratio;
    grid-column: $square-aspect-ratio;
  }
}
