.generated-password-container {
    position: relative;
    width: 100%;
    height: 50px;
}

.generated-password {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 22px;
}

.copy-icon {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
    height: 30px;
    right: 10px;
    bottom: 10px;
    opacity: 0.75;
    top: 10px;
    transition: 0.25s color;
}

.copy-icon:hover {
    opacity: 1;
}

.copy-successful {
    color: green;
}

.copy-error {
    color: red;
}
